@model SocialNetwork.Models.User

@{
    ViewData["Title"] = "EditCircle";
}

<h1>EditCircle</h1>

<h4>Circle</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditCircle">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CircleName" class="control-label"></label>
                <input asp-for="CircleName" class="form-control" />
                <span asp-validation-for="CircleName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserToAddToCircle" class="control-label"></label>
                <input asp-for="UserToAddToCircle" class="form-control" />
                <span asp-validation-for="UserToAddToCircle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
