@model SocialNetwork.Models.SocialNetworkViewModel

@{
    ViewData["Title"] = "View";
}

<h1>All comments</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                Comment ID
            </th>
            <th>
                Comment for Post ID
            </th>
            <th>
                Text
            </th>
            <th>
                Created by 
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.comments) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PostId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Text)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ComCreatedBy)
            </td>
        </tr>
}
    </tbody>
</table>
